.navbar {
    background-color: #101316;
    gap: 10px;
    /* border-bottom: solid 2px black; */
    border-bottom: 2px solid #283038;
    position: relative;
}

.navbar-title {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 4rem;
  font-weight: 900;
  font-style: italic;
  margin-right: 50px;
}

.navbar-text {
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 1.5rem;
  margin-left: 50px;
  margin-top: 10px;
}

.navbar-button {
  align-items: center;
  /* margin-right: 50px; */
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  border-radius: 0%;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 12px;
}

.navbar-button:focus {
  color: #171e29;
}

.navbar-button:hover {
  border-color: #fa7272;
  color: #fa7272;
  fill: #fa7272;
  background-color: white;
}

.navbar-button:active {
  border-color: #fa7272;
  color: #fa7272;
  fill: #fa7272;
}

@media (min-width: 768px) {
  .navbar-button {
    min-width: 170px;
  }
}

.navbar-text:hover {
  color: #fa7272;
}

.navbar-title:hover {
  color: #fa7272;
}
.dropdown-menu {
    visibility: visible;
    display: inline-block;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
    z-index: 1000;
}

.dropdown-menu button {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: transparent;
    border: none;
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-menu button:hover {
    background-color: #f5f5f5;
    color: #fa7272;
}


.dropdown-menu button:focus,
.dropdown-menu button:active {
    outline: none;
    background-color: #f5f5f5;
    color: #fa7272;
}