.shopContainer {
    display: flex;
    flex-direction: column; /* Change to column to stack elements vertically */
    align-items: center; /* Align items horizontally at the center */
    justify-content: center; /* Align items vertically at the center */
    min-height: 100vh;
    padding: 10px;
    overflow: hidden;
    color: white;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust column size as needed */
    gap: 20px; /* Adjust gap between grid items */
  }
  
  .grid-item {
    border: 1px solid #ccc;
    padding: 10px;
    /* Additional styling for grid items */
  }
  .grid-item img {
    width: 200px; /* Set the width of the image */
    height: 200px; /* Set the height of the image */
  }
  